.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

}

@media screen and (max-width: 576) {
    /* .shop-container{
        grid-template-rows: auto;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    } */
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed{
    background: #FF9900;
    border-radius: 4px;
    width: 90%;
    display: flex;
    width: 90%;
    height: 56px;
    font-size: 21px;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
}